html,
body {
    height: 100%;
    background-color: #fafdff;
}

.login-form {
    width: 340px;
    margin: 50px auto;
    padding-top: 50px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
}

.top {
    background-color: #0b5394 ;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    border-color: #0b5394;
   
}

.top a {
    color: #ffffff;
    text-decoration: none;
}
#main {
    width: 100%;
    height:90%;
    min-height: 90%;
    position: relative;

}

.boxshadow {
    
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    margin-right:20px:
  }

 .dashboard {

    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 50px;
    background: white;

  }
  
#nav {
    position: fixed;
    width: 260px;
    max-width: 260px;
    height: 80%;
    margin: 40px;
    margin-top: 90px;

  }



span {
    margin-right: 10px; 
}
.profile-pic {
    margin: 15px;
    width:60px;
}


.fullname-lbl {
    font-size: 14px;
    font-weight: bold;

}



.articles {
    padding-left: 10px;
}

h1 {
    color: #0b5394;
    margin-bottom: 8px;
    font-size: x-large;
}

h2 {
    color: #1079d5;
    font-size: medium;
    margin-bottom: 8px;
}

.question {
    color: #1079d5;
    font-size: medium;
}
.article-snippet {
    position: relative;
    padding: 20px;
    width:100%;
    height: 200px;
    margin-bottom: 10px;

}

.article-info {
    font-size: 9px
}

.link {
    font-size: 13px
}

.article-title {
    font-size: 16px;
    font-weight: bold;

}

.article-summary{
    font-size: 10px;
    color: #808080;
    max-width: 200px;

}


.nav-links {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 24px;
    align-content: center;

}

.nav-links  a {
    text-decoration: none;
    color: #212529;
    

}

.nav-links .row {
    padding-bottom: 30%;
}
.selected {
    font-weight: bold;
    color: #0b5394 !important
}

.page-header {
    position: relative;
    padding: 80px 10px 10px 10px;
    width: 100%;
    margin-bottom: 15px;

}
.logout-link {
    color: rgb(226, 76, 76) !important;
}
.title-input{
    margin-bottom: 10px;
    padding: 5px;
}

.assumption{
    background-color: #E7F5F7
}
.statistics{
    background-color: #F3E1E4

}
.anecdote{
    background-color: #E2F0DC

}

.no-unit {
    background-color: #f1ebeb

}

.important{
    background-color: transparent

}
.most-important{
    background-color: rgb(248, 248, 135)

}
.title {
    font-weight: bold;
    text-transform: capitalize;
    color: #0b5394 !important
}

.no-bgd{
    background-color: transparent !important
}

#editorial {
    max-height: 650px;
    overflow: auto;
    font-size: 12px;

}

.single-summary {
    max-height: 450px;
    overflow: auto;
    font-size: 12px;

}

.top-margin {
    margin-top: 150px;
}

.justification {
    background-color: #fad1d1;
    padding: 2.5px;
}


.thesis {
    background-color: #d3f8ed;
    padding: 2.5px;
}


.no-display {
    display: none !important;
}

.annotator-profile {
    font-size: 11px;

}

.annotator-profile .code {
    font-weight: bold;

}

.strongly-agree {
    background-color:  #b7d7bb ;
}

.weakly-agree {
    background-color:  #edf7ef ;
}

.strongly-disagree {
    background-color:  #ff8080 ;

}

.weakly-disagree {
    background-color:  #ffe8e8  ;
}

.tiny {
    font-size:9px;
    color : #a6a6a6;

}

.small {
    font-size:11px;
    font-style: italic;
    color: #666666;

}

.strongly-agree-txt {
    color:  #519459 ;
}

.weakly-agree-txt {
    color:  #96cfa1 ;
}

.strongly-disagree-txt {
    color:  #ff0000 ;

}

.weakly-disagree-txt {
    color:  #ffb3b3  ;
}

.blue {
    background-color:#e7f3fd
}

.readme {
    max-height: 350px;
    overflow: auto;
}